/*Default Margin & Padding*/

/*Margin Top*/
.mt--50px{
    margin-top: -50px
}
.mt-5px{
    margin-top: 5px
}
.mt-10px{
    margin-top: 10px
}
.mt-15px{
    margin-top: 15px
}
.mt-20px{
    margin-top: 20px
}
.mt-25px{
    margin-top: 25px
}
.mt-30px{
    margin-top: 30px
}
.mt-35px{
    margin-top: 35px
}
.mt-40px{
    margin-top: 40px
}
.mt-45px{
    margin-top: 45px
}
.mt-50px{
    margin-top: 50px
}
.mt-55px{
    margin-top: 55px
}
.mt-60px{
    margin-top: 60px
}
.mt-65px{
    margin-top: 65px
}
.mt-70px{
    margin-top: 70px
}
.mt-75px{
    margin-top: 75px
}
.mt-80px{
    margin-top: 80px
}
.mt-85px{
    margin-top: 85px
}
.mt-90px{
    margin-top: 90px
}

.mt-95px{
    margin-top: 95px
}
.mt-100px{
    margin-top: 100px
}
.mt-105px{
    margin-top: 105px
}
.mt-110px{
    margin-top: 110px
}
.mt-115px{
    margin-top: 115px
}
.mt-120px{
    margin-top: 120px
}
.mt-125px{
    margin-top: 125px
}
.mt-130px{
    margin-top: 130px
}
.mt-135px{
    margin-top: 135px
}
.mt-140px{
    margin-top: 140px
}
.mt-145px{
    margin-top: 145px
}

.mt-150px{
    margin-top: 150px
}

.mt-155px{
    margin-top: 155px
}
.mt-160px{
    margin-top: 160px
}
.mt-165px{
    margin-top: 165px
}
.mt-170px{
    margin-top: 170px
}
.mt-175px{
    margin-top: 175px
}
.mt-180px{
    margin-top: 180px
}
.mt-185px{
    margin-top: 185px
}
.mt-190px{
    margin-top: 190px
}
.mt-195px{
    margin-top: 195px
}
.mt-200px{
    margin-top: 200px
}

/*Margin Bottom*/
.mb-5px{
    margin-bottom: 5px
}
.mb-10px{
    margin-bottom: 10px
}
.mb-15px{
    margin-bottom: 15px
}
.mb-20px{
    margin-bottom: 20px
}
.mb-25px{
    margin-bottom: 25px
}
.mb-30px{
    margin-bottom: 30px
}
.mb-35px{
    margin-bottom: 35px
}
.mb-40px{
    margin-bottom: 40px
}
.mb-45px{
    margin-bottom: 45px
}
.mb-50px{
    margin-bottom: 50px
}
.mb-55px{
    margin-bottom: 55px
}
.mb-60px{
    margin-bottom: 60px
}
.mb-65px{
    margin-bottom: 65px
}
.mb-70px{
    margin-bottom: 70px
}
.mb-75px{
    margin-bottom: 75px
}
.mb-80px{
    margin-bottom: 80px
}
.mb-85px{
    margin-bottom: 85px
}
.mb-90px{
    margin-bottom: 90px
}

.mb-95px{
    margin-bottom: 95px
}
.mb-100px{
    margin-bottom: 100px
}
.mb-105px{
    margin-bottom: 105px
}
.mb-110px{
    margin-bottom: 110px
}
.mb-115px{
    margin-bottom: 115px
}
.mb-120px{
    margin-bottom: 120px
}
.mb-125px{
    margin-bottom: 125px
}
.mb-130px{
    margin-bottom: 130px
}
.mb-135px{
    margin-bottom: 135px
}
.mb-140px{
    margin-bottom: 140px
}
.mb-145px{
    margin-bottom: 145px
}

.mb-150px{
    margin-bottom: 150px
}

.mb-155px{
    margin-bottom: 155px
}
.mb-160px{
    margin-bottom: 160px
}
.mb-165px{
    margin-bottom: 165px
}
.mb-170px{
    margin-bottom: 170px
}
.mb-175px{
    margin-bottom: 175px
}
.mb-180px{
    margin-bottom: 180px
}
.mb-185px{
    margin-bottom: 185px
}
.mb-190px{
    margin-bottom: 190px
}
.mb-195px{
    margin-bottom: 195px
}
.mb-200px{
    margin-bottom: 200px
}


/*Padding Top*/
.pdt-5px{
    padding-top: 5px
}
.pdt-10px{
    padding-top: 10px
}
.pdt-15px{
    padding-top: 15px
}
.pdt-20px{
    padding-top: 20px
}
.pdt-25px{
    padding-top: 25px
}
.pdt-30px{
    padding-top: 30px
}
.pdt-35px{
    padding-top: 35px
}
.pdt-40px{
    padding-top: 40px
}
.pdt-45px{
    padding-top: 45px
}
.pdt-50px{
    padding-top: 50px
}
.pdt-55px{
    padding-top: 55px
}
.pdt-60px{
    padding-top: 60px
}
.pdt-65px{
    padding-top: 65px
}
.pdt-70px{
    padding-top: 70px
}
.pdt-75px{
    padding-top: 75px
}
.pdt-80px{
    padding-top: 80px
}
.pdt-85px{
    padding-top: 85px
}
.pdt-90px{
    padding-top: 90px
}

.pdt-95px{
    padding-top: 95px
}
.pdt-100px{
    padding-top: 100px
}
.pdt-105px{
    padding-top: 105px
}
.pdt-110px{
    padding-top: 110px
}
.pdt-115px{
    padding-top: 115px
}
.pdt-120px{
    padding-top: 120px
}
.pdt-125px{
    padding-top: 125px
}
.pdt-130px{
    padding-top: 130px
}
.pdt-135px{
    padding-top: 135px
}
.pdt-140px{
    padding-top: 140px
}
.pdt-145px{
    padding-top: 145px
}

.pdt-150px{
    padding-top: 150px
}

.pdt-155px{
    padding-top: 155px
}
.pdt-160px{
    padding-top: 160px
}
.pdt-165px{
    padding-top: 165px
}
.pdt-170px{
    padding-top: 170px
}
.pdt-175px{
    padding-top: 175px
}
.pdt-180px{
    padding-top: 180px
}
.pdt-185px{
    padding-top: 185px
}
.pdt-190px{
    padding-top: 190px
}
.pdt-195px{
    padding-top: 195px
}
.pdt-200px{
    padding-top: 200px
}

/*Padding Bottom*/
.pdb-5px{
    padding-bottom: 5px
}
.pdb-10px{
    padding-bottom: 10px
}
.pdb-15px{
    padding-bottom: 15px
}
.pdb-20px{
    padding-bottom: 20px
}
.pdb-25px{
    padding-bottom: 25px
}
.pdb-30px{
    padding-bottom: 30px
}
.pdb-35px{
    padding-bottom: 35px
}
.pdb-40px{
    padding-bottom: 40px
}
.pdb-45px{
    padding-bottom: 45px
}
.pdb-50px{
    padding-bottom: 50px
}
.pdb-55px{
    padding-bottom: 55px
}
.pdb-60px{
    padding-bottom: 60px
}
.pdb-65px{
    padding-bottom: 65px
}
.pdb-70px{
    padding-bottom: 70px
}
.pdb-75px{
    padding-bottom: 75px
}
.pdb-80px{
    padding-bottom: 80px
}
.pdb-85px{
    padding-bottom: 85px
}
.pdb-90px{
    padding-bottom: 90px
}

.pdb-95px{
    padding-bottom: 95px
}
.pdb-100px{
    padding-bottom: 100px
}
.pdb-105px{
    padding-bottom: 105px
}
.pdb-110px{
    padding-bottom: 110px
}
.pdb-115px{
    padding-bottom: 115px
}
.pdb-120px{
    padding-bottom: 120px
}
.pdb-125px{
    padding-bottom: 125px
}
.pdb-130px{
    padding-bottom: 130px
}
.pdb-135px{
    padding-bottom: 135px
}
.pdb-140px{
    padding-bottom: 140px
}
.pdb-145px{
    padding-bottom: 145px
}

.pdb-150px{
    padding-bottom: 150px
}

.pdb-155px{
    padding-bottom: 155px
}
.pdb-160px{
    padding-bottom: 160px
}
.pdb-165px{
    padding-bottom: 165px
}
.pdb-170px{
    padding-bottom: 170px
}
.pdb-175px{
    padding-bottom: 175px
}
.pdb-180px{
    padding-bottom: 180px
}
.pdb-185px{
    padding-bottom: 185px
}
.pdb-190px{
    padding-bottom: 190px
}
.pdb-195px{
    padding-bottom: 195px
}
.pdb-200px{
    padding-bottom: 200px
}
.pdt-210px {
    padding-top: 210px;
}
.pdt-220px {
    padding-top: 220px;
}
.pdt-225px {
    padding-top: 225px;
}
.pdt-230px {
    padding-top: 230px;
}
.pdt-235px {
    padding-top: 235px;
}
/*Padding Top & Bottom*/
.pd-5px{
    padding: 5px 0;
}
.pd-10px{
    padding: 10px 0;
}
.pd-15px{
    padding: 15px 0;
}
.pd-20px{
    padding: 20px 0;
}
.pd-25px{
    padding: 25px 0;
}
.pd-30px{
    padding: 30px 0;
}
.pd-35px{
    padding: 35px 0;
}
.pd-40px{
    padding: 40px 0;
}
.pd-45px{
    padding: 45px 0;
}
.pd-50px{
    padding: 50px 0;
}
.pd-55px{
    padding: 55px 0;
}
.pd-60px{
    padding: 60px 0;
}
.pd-65px{
    padding: 65px 0;
}
.pd-70px{
    padding: 70px 0;
}
.pd-75px{
    padding: 75px 0;
}
.pd-80px{
    padding: 80px 0;
}
.pd-85px{
    padding: 85px 0;
}
.pd-90px{
    padding: 90px 0;
}

.pd-95px{
    padding: 95px 0;
}
.pd-100px{
    padding: 100px 0;
}
.pd-105px{
    padding: 105px 0;
}
.pd-110px{
    padding: 110px 0;
}
.pd-115px{
    padding: 115px 0;
}
.pd-120px{
    padding: 120px 0;
}
.pd-125px{
    padding: 125px 0;
}
.pd-130px{
    padding: 130px 0;
}
.pd-135px{
    padding: 135px 0;
}
.pd-140px{
    padding: 140px 0;
}
.pd-145px{
    padding: 145px 0;
}

.pd-150px{
    padding: 150px 0;
}

.pd-155px{
    padding: 155px 0;
}
.pd-160px{
    padding: 160px 0;
}
.pd-165px{
    padding: 165px 0;
}
.pd-170px{
    padding: 170px 0;
}
.pd-175px{
    padding: 175px 0;
}
.pd-180px{
    padding: 180px 0;
}
.pd-185px{
    padding: 185px 0;
}
.pd-190px{
    padding: 190px 0;
}
.pd-195px{
    padding: 195px 0;
}
.pd-200px{
    padding: 200px 0;
}